.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center ;
  justify-content: center;
  overflow: hidden;
  font-family: "inter", sans-serif;
  margin-bottom: -100px ;
 

}

.hero-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;

}

.hero-text {
  position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-80%, -60%);
  color: white;
  text-align: left;
  max-width: 600px;
  z-index: 3;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);

}

.hero-span{
  color: #fbbf24;
}

.hero-text h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2em;
}

.hero-text p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.cta-button {
  background: #f0f0f0;
  color: rgb(9, 9, 9);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 50px;  
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 1em;
}

.cta-button:hover {
  background: #fbbf24;
  transform: translateY(-2px);
}

.cta-button-outline {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 1em;
}

.cta-button-outline:hover {
  background: #fbbf24;
  background: transparent;
  border: 2px solid  #fbbf24;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 50px;
  color: white;
  transform: translateY(-2px);
}

.hero-image {
  flex: 1;
  display: flex;
  align-items: stretch;
  height: 100%;
  position: relative;
  transform: translateY(-100px);
}

.hero-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 200%);
  z-index: 2;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
}


  .hero-text h1 {

    width: 980px;
    font-size: 7.5rem;
    line-height: 1.0em;
  }

  .hero-text p {
    font-size: 1.1rem;
  }


  @media (max-width: 768px) {
    .hero-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: white;
  text-align: left;
  max-width: 400px;
  z-index: 3;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);

}

.hero-text h1 {

    width: 500px;
    font-size: 5rem;
    line-height: 1.0em;
    margin-left: 24%;
  }

  .cta-button-outline, .cta-button{
    margin-bottom: 7%;
    width: 80%;
  } 

  





  
  
}


 